.medium {
  display: flex;
  width: 100%;
  margin: 25px 0 0 0;
  flex-direction: column;
}

.large {
  display: flex;
  width: 80%;

  flex-direction: column;
}

.collapseHeader {
  display: flex;
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  text-align: start;
  justify-content: space-between;
  align-items: center;
}

.collapseHeaderName {
  margin: 0 10px;
  display: flex;
  color: white;
}
.arrowUp,
.arrowDown {
  width: 35px;
  height: 20px;
}

.arrowDown {
  transform: rotate(180deg);
}

.collapseHeaderContent {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  justify-content: center;
}

p.listItem {
  margin: 0;
  font-size: 18px;
}

@media (max-width: 425px) {
  .collapseHeader {
    padding: 5px;
  }

  .large {
    width: 100%;
    margin: 10px 0;
  }

  .name {
    font-size: 13px;
  }

  .arrowUp,
  .arrowDown {
    width: 24px;
    height: 14px;

    margin: 10px;
  }

  .medium {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 13px;
  }
}
