.details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.detailsHousing {
  display: flex;
  flex-direction: column;
}

.detailsHost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailsHostInfos {
  display: flex;
  align-items: center;
}

.detailsHousingTitle {
  display: flex;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0;
}
.detailsHousingLocation {
  display: flex;
  margin: 10px 0;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.detailsHostInfosName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 20px;
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
}

.detailsHostInfosName p {
  text-align: end;
  margin: 0;
}

.detailsHostInfosPicture {
  display: flex;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.rating {
  display: flex;
}

.tagsContainer {
  display: flex;
}

@media (max-width: 425px) {
  .detailsHousing {
    width: 100%;
  }

  .tagsContainer {
    margin: 10px 0;
  }

  .detailsHost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .detailsHost {
    order: 2;
  }

  .rating {
    order: 1;
  }
}

@media (max-width: 750px) {
  .details {
    flex-direction: column;
  }
  .detailsHost {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .detailsHostInfosName {
    font-size: 12px;
  }
  .detailsHousingLocation {
    font-size: 14px;
  }
  .detailsHousingTitle {
    font-size: 18px;
  }
}
