.mainDetailsPage {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.fullContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 5%;
}

@media (max-width: 750px) {
  .fullContent {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .mainDetailsPage {
    margin: 0 20px;
  }
}
