.mainAboutPage {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .collapseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  @media (max-width: 425px) {
    .mainAboutPage {
      margin: 0 20px;
    }
  }