.mainComponent {
  height: 100%;
  color: #ff6060;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0;
  margin-bottom: 100px;
}

.mainComponentMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.mainComponentMsgErrorText {
  display: flex;
  font-size: 160px;
  width: 100%;
  justify-content: center;
}

.mainComponentMsgOups {
  text-align: center;
  font-size: 36px;
  width: 90%;
}

.backlink {
  margin-top: 50px;
  color: black;
}

.backLink:visited {
  color: black;
}

@media (max-width: 425px) {
  .mainComponent {
    margin: 0 20px;
    justify-content: space-around;
    align-items: center;
  }

  .mainComponentMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mainComponentMsgOups {
    text-align: center;
    font-size: 18px;
    width: 90%;
  }

  .mainComponentMsgErrorText {
    font-size: 96px;
  }
}
