/****** General ***********/




.appbar {
  width: 100%x;
  height: 63px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
  background: var(--white, #fff);

  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.logo-header {
  display: flex;
  height: 36px;
  padding: 0px 19px 0px 16px;
  justify-content: center;
  align-items: center;
  & img {
    width: 197px;
  }
}

.location {
  display: flex;
  width: 375px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: var(--grey, #353535);

  /* Button */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* tablette */
@media (max-width: 1024px) {
}

/* desktop */
@media (min-width: 1080px) {
  .appbar {
    display: flex;
    padding: 30px 0px 31.798px 0px;
    justify-content: center;
    align-items: center;
    background: var(--white, #fff);

    /* Shadow/Badge */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .logo-header {
    width: 200px;
    height: 34.202px;
    padding: 0px;
  }

  .location {
    background: var(--grey-2, #eaeaea);
  }

  .reservation {
    width: 44.79%;
    height: 179px;
    margin: auto;
    & h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
    }
    & p {
      margin: 18px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: var(--grey, #353535);
      text-align: center;

      /* Paragraph */
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    &__btn {
      display: flex;
      margin: auto;
      width: 33.8%;
      height: 50px;
      padding: 0;
      border-radius: 25px;
      background: var(
        --button-gradient,
        linear-gradient(175deg, $colorPrimary 0%, #ff79da 100%)
      );
      border-width: 0;

      /* Shadow/Button */
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      color: var(--white, #fff);
      text-align: center;
      justify-content: center;
      align-items: center;

      /* Button */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .fonctionnement {
    width: 100%;
    max-width: 1440px;
    display: flex;
    padding: 50px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    &__btn {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1440px;
      display: flex;
      gap: 24px;
      &__number {
        width: 335px;
        height: 72.379px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .btn-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 96.12%;
        height: 72.379px;
        border-radius: 20px;
        border-width: 0;
        background: var(--background, #f6f6f6);

        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      & svg {
        width: 24px;
        height: 24px;
        fill: var(--primary, #9356dc);
      }

      & p {
        position: absolute;
      }
    }
  }

  .btn-menu__icon {
    width: 13.037px;
    height: 20px;
    flex-shrink: 0;
    padding-left: 22.32px;
    padding-right: 26.65px;
  }

  .restaurants {
    display: flex;
    padding: 0px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    & a {
      display: flex;
      width: 46.17%;
      text-decoration: none;
    }
    & svg {
      position: absolute;
      width: 22px;
      height: 21px;
      padding-top: 22px;
      padding-right: 33px;
    }
    & .card {
      width: 100%;
      height: 251px;
      border-radius: 15px;
      background: #fff;
      /* Shadow/Card */
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
      & img {
        width: 100%;
        height: 175px;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    &__line1 {
      max-width: 1080px;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      gap: 100px;
      align-self: stretch;
    }
    & .card__content {
      padding-top: 16px;
      padding-left: 18.74px;
    }
  }
}
